@import url('./fonts.css');
@import url('./tokens.css');
@import url('./base.css');
@import url('./components.css');
@import url('./forms.css');
@import url('./tables.css');
@import url('./chat.css');
@import url('./profile.css');
@import url('./toggle.css');
@import url('./timelapse.css');
@import url('./botdetection.css');
@import url('./totw.css');
@import url('./badges.css');
@import url('./templates.css');
@import url('./objectives.css');
@import url('./modhistory.css');
@import url('./donations.css');
@import url('./misc.css');