@import url('./new/fonts.css');
@import url('./new/tokens.css');
@import url('./new/base.css');
@import url('./new/components.css');
@import url('./new/forms.css');
@import url('./new/tables.css');
@import url('./new/chat.css');
@import url('./new/profile.css');
@import url('./new/toggle.css');
@import url('./new/timelapse.css');
@import url('./new/botdetection.css');
@import url('./new/totw.css');
@import url('./new/badges.css');
@import url('./new/templates.css');
@import url('./new/objectives.css');
@import url('./new/modhistory.css');
@import url('./new/donations.css');
@import url('./new/misc.css');